abstract class Env {
  static const rdbHost = '';
  static const rdbPort = -1;
  static const rdbName = '';
  static const rdbUser = '';
  static const rdbPass = '';

  static const ndbHost = 'locahost';
  static const ndbPort = 27017;
  static const ndbName = 'test';
  static const ndbUser = '';
  static const ndbPass = '';

  static const jwtPath = '.ssh/secket-key';
  static const apiUrl = 'https://another.api.com/ws/1';
}
